@media screen and (max-width: 550px) {

	html body.home article{
		width: 50%;
		height: 40%;
	}
	
	html body.single article,
	html body.single #comments,
	html body.single #sidebar-bottom{
		width: 76%;
		margin: 1% 12%;
	}
	
	html body aside.masonry{
		width: 45%;
	}

	html header.entry-header h1{
		font-size: 20px;
	}

	html .single #homeshow{
		top:60px;
	}

	html .single #searchshow{
		top:90px;
	}

	html .picmenu div a, html .picmenu div i{
		font-size: 30px;
	}

}